<div id="mark_complete_<%= @stamp.id %>" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="complete-stamp" class="modal-body">
        <h1 class="text-center">What was the outcome?</h1>
        <div class="text-center">
            <%= link_to "It Happened", mark_complete_true_stamp_path(@stamp), method: :post, class: "btn btn-success btn-lg btn-raised" %>
            <%= link_to "Didn't Happen", mark_complete_false_stamp_path(@stamp), method: :post,  class: "btn btn-success btn-lg btn-raised" %>
        </div>
        <div class="text-center">
          <small>Be honest. The community does its own policing. You wouldn't want to hurt your reputation, now would you?</small>
        </div>
      </div>
    </div>
  </div>
</div>
