<div id="mark_complete_<%= @stamp.id %>" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h4 class="modal-title"><%= icon(:plus) %> Complete Stamp</h4>
      </div>
      <div id="complete-stamp" class="modal-body">
        <%= render 'edit_form' %>
      </div>
    </div>
  </div>
</div>
